openapi: 3.0.1
info:
  contact:
    email: px_nativo@mercadolibre.com
    name: Team PX Nativo
  title: "[PX] Checkout Mobile Payments"
  version: "1.0"
servers:
- url: https://internal-api.mercadopago.com/v1
  variables: {}
paths:
  /px_mobile/authentication/v1/card_holder:
    post:
      operationId: authenticateCardHolder
      parameters:
      - description: The card's token
        in: query
        name: card_token
        required: true
        schema:
          type: string
      - description: The caller ID.
        in: query
        name: caller.id
        required: true
        schema:
          type: integer
          format: int64
      - description: The session ID.
        in: header
        name: X-Session-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardHolderAuthenticationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardHolderAuthenticationResponse'
          description: Application responded successfully
      servers:
      - url: https://internal-api.mercadopago.com/production
        variables: {}
      summary: Authenticate Card Holder
      tags:
      - px_mobile
  /px_mobile/congrats:
    get:
      operationId: getCongrats
      parameters:
      - allowReserved: true
        description: "The list of payments, comma separated"
        example: "1231234,1241241"
        in: query
        name: payment_ids
        schema:
          type: string
      - description: The campaign's ID
        in: query
        name: campaign_id
        schema:
          type: string
      - description: The flow's name
        in: query
        name: flow_name
        schema:
          type: string
      - description: The IFPE
        in: query
        name: ifpe
        schema:
          type: boolean
      - description: "The list of payment methods, comma separated"
        example: "credit_card,account_money"
        in: query
        name: payment_methods_ids
        schema:
          type: string
      - description: The preference id.
        example: 49177602-ab824142-b64e-468c-84c0-cf71fe36d5dc
        in: query
        name: pref_id
        schema:
          type: string
      - description: The merchant order id.
        in: query
        name: merchant_order_id
        schema:
          type: string
      - description: The merchant account id.
        in: query
        name: merchant_account_id
        schema:
          type: string
      - description: The payment type id.
        in: query
        name: payment_type_id
        schema:
          type: string
      - description: The caller ID.
        in: query
        name: caller.id
        required: true
        schema:
          type: integer
          format: int64
      - description: The client ID.
        in: query
        name: client.id
        schema:
          type: integer
          format: int64
      - description: The caller site ID.
        example: MLA
        in: query
        name: caller.siteId
        schema:
          type: string
          enum:
          - MLA
          - MLB
          - MLC
          - MCO
          - MLV
          - MPE
          - MLU
          - MLM
      - description: The caller's screen density.
        example: xhdpi
        in: header
        name: x-density
        required: true
        schema:
          type: string
      - allowReserved: true
        description: The user's access token.
        example: APP_USR-****************-******-************************************-*********
        in: query
        name: access_token
        schema:
          type: string
      - description: User's language preference.
        example: es_AR
        in: header
        name: Accept-Language
        schema:
          type: string
          default: es_AR
          enum:
          - es
          - pt
          - es_AR
          - pt_BR
          - es_CL
          - es_CO
          - es_VE
          - es_PE
          - es_UY
          - es_MX
      - description: The integrator's Product ID.
        example: bh31umv10flg01nmhg60
        in: header
        name: x-product-id
        required: true
        schema:
          type: string
      - description: "The integrator's user agent. Composed by <product>/<operating\
          \ system>/<version>. Operating system options are: Android, iOS or NoOS."
        example: PX/Android/4.27.1
        in: header
        name: user-agent
        schema:
          type: string
      - allowReserved: true
        description: The user's public key.
        example: APP_USR-********-****-****-****-************
        in: query
        name: public_key
        schema:
          type: string
      - description: The integrator's platform.
        example: MP
        in: query
        name: platform
        required: true
        schema:
          $ref: '#/components/schemas/Platform'
      - description: The session ID.
        in: header
        name: X-Session-Id
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Congrats'
          description: Application responded successfully
      summary: Congrats
      tags:
      - px_mobile
  /px_mobile/init/preference:
    get:
      operationId: initCheckoutByPref
      parameters:
      - description: "The id in its short version. If 'pref_id is passed, it's not\
          \ required."
        example: 23BYCZ
        in: query
        name: short_id
        required: true
        schema:
          type: string
      - description: "The preference id. If 'short_id' is passed, it's not required."
        example: 49177602-ab824142-b64e-468c-84c0-cf71fe36d5dc
        in: query
        name: pref_id
        required: true
        schema:
          type: string
      - description: The flow id.
        in: query
        name: flow_id
        schema:
          type: string
      - description: The caller ID.
        in: query
        name: caller.id
        schema:
          type: integer
          format: int64
      - description: The client ID.
        in: query
        name: client.id
        schema:
          type: integer
          format: int64
      - description: The session ID.
        in: header
        name: X-Session-Id
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceResponse'
          description: Application responded successfully
      summary: Init Checkout by Preference
      tags:
      - px_mobile
  /px_mobile/legacy_payments:
    post:
      description: Do legacy payment
      operationId: doLegacyPayment
      parameters:
      - allowReserved: true
        description: The user's public key.
        example: APP_USR-********-****-****-****-************
        in: query
        name: public_key
        required: true
        schema:
          type: string
      - description: The session ID.
        in: header
        name: X-Session-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
          description: Application responded successfully
      summary: Legacy payment
      tags:
      - px_mobile
  /px_mobile/payments:
    post:
      description: Do payment
      operationId: doPayment
      parameters:
      - allowReserved: true
        description: The user's public key.
        example: APP_USR-********-****-****-****-************
        in: query
        name: public_key
        required: true
        schema:
          type: string
      - description: The caller ID.
        in: query
        name: caller.id
        schema:
          type: integer
          format: int64
      - description: The client ID.
        in: query
        name: client.id
        schema:
          type: integer
          format: int64
      - description: The session ID.
        in: header
        name: X-Session-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentDataBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
          description: Application responded successfully
      summary: Payment
      tags:
      - px_mobile
  /px_mobile/v1/esc_cap/:cardId:
    delete:
      operationId: resetCapEsc
      parameters:
      - description: The card ID
        in: path
        name: cardId
        required: true
        schema:
          type: string
      - description: The client ID.
        in: query
        name: client.id
        required: true
        schema:
          type: integer
          format: int64
      - description: The session ID.
        in: header
        name: X-Session-Id
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetStatus'
          description: Application responded successfully
      servers:
      - url: https://internal-api.mercadopago.com/production
        variables: {}
      summary: Reset Cap Esc
      tags:
      - px_mobile
  /px_mobile/v1/remedies/:paymentId:
    post:
      operationId: getRemedy
      parameters:
      - description: The payment ID
        in: path
        name: paymentId
        required: true
        schema:
          type: string
      - description: The one tap indicator
        in: header
        name: one_tap
        schema:
          type: boolean
      - description: The caller site ID.
        example: MLA
        in: query
        name: caller.siteId
        schema:
          type: string
          enum:
          - MLA
          - MLB
          - MLC
          - MCO
          - MLV
          - MPE
          - MLU
          - MLM
      - description: The caller ID.
        in: query
        name: caller.id
        schema:
          type: integer
          format: int64
      - description: The integrator's platform.
        example: MP
        in: header
        name: x-platform
        schema:
          $ref: '#/components/schemas/Platform'
      - description: The session ID.
        in: header
        name: X-Session-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemediesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemediesResponse'
          description: Application responded successfully
      servers:
      - url: https://internal-api.mercadopago.com/production
        variables: {}
      summary: Get Remedy
      tags:
      - px_mobile
components:
  schemas:
    Action:
      type: object
      properties:
        label:
          type: string
        ml_target:
          type: string
        mp_target:
          type: string
        target:
          type: string
    ActionDownload:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/Action'
        title:
          type: string
    AdditionalInfo:
      type: object
      properties:
        additional_info_payer:
          $ref: '#/components/schemas/AdditionalInfoPayer'
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
    AdditionalInfoPayer:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/Address'
        first_name:
          type: string
        last_name:
          type: string
        phone:
          $ref: '#/components/schemas/Phone'
    Address:
      type: object
      properties:
        street_name:
          type: string
        street_number:
          type: string
        zip_code:
          type: string
    AlternativePayerPaymentMethod:
      type: object
      properties:
        bin:
          type: string
        card_size:
          type: string
          enum:
          - mini
          - small
          - x_small
          - medium
          - large
        custom_option_id:
          type: string
        esc:
          type: boolean
        esc_status:
          type: string
        installments:
          type: integer
          format: int32
        installments_list:
          type: array
          items:
            $ref: '#/components/schemas/Installment'
        issuer_name:
          type: string
        last_four_digit:
          type: string
        payment_method_id:
          type: string
        payment_type_id:
          type: string
        security_code_length:
          type: integer
          format: int32
        security_code_location:
          type: string
    Application:
      type: object
      properties:
        date_last_time_used:
          type: string
          format: date-time
        payment_method:
          $ref: '#/components/schemas/CardPaymentMethod'
        payments_approved:
          type: integer
          format: int32
        payments_total:
          type: integer
          format: int32
    ApplicationData:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
    AutoReturn:
      type: object
      properties:
        label:
          type: string
        seconds:
          type: integer
          format: int32
    Barcode:
      type: object
      properties:
        content:
          type: string
    Button:
      type: object
      properties:
        action:
          type: string
        label:
          type: string
        target:
          type: string
        type:
          type: string
    Campaign:
      type: object
      properties:
        code_type:
          type: string
        end_date:
          type: string
          format: date-time
        id:
          type: string
        legal_terms:
          type: string
        max_coupon_amount:
          type: number
        max_redeem_per_user:
          type: integer
          format: int32
    Card:
      type: object
      properties:
        cardholder_name:
          type: string
        payment_method:
          type: string
    CardHolderAuthenticationRequest:
      type: object
      properties:
        card:
          $ref: '#/components/schemas/Card'
        currency:
          $ref: '#/components/schemas/Currency'
        purchase_amount:
          type: string
        sdk_app_id:
          type: string
        sdk_enc_data:
          type: string
        sdk_ephem_pub_key:
          $ref: '#/components/schemas/EphemSdk'
        sdk_max_timeout:
          type: string
        sdk_reference_number:
          type: string
        sdk_trans_id:
          type: string
        site_id:
          type: string
    CardHolderAuthenticationResponse:
      type: object
      properties:
        acsReferenceNumber:
          type: string
        acsTransID:
          type: string
        chaTransID:
          type: string
        dsTransID:
          type: string
        eci:
          type: string
        response:
          type: string
        threeDSServerTransID:
          type: string
    CardNumber:
      type: object
      properties:
        first_six_digits:
          type: string
        last_four_digits:
          type: string
    CardPaymentMethod:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        payment_type_id:
          type: string
        validation_programs:
          type: array
          items:
            $ref: '#/components/schemas/ValidationProgram'
    Cardholder:
      type: object
      properties:
        identification:
          $ref: '#/components/schemas/Identification'
        name:
          type: string
    Collector:
      type: object
      properties:
        id:
          type: integer
          format: int64
    Congrats:
      type: object
      properties:
        auto_return:
          $ref: '#/components/schemas/AutoReturn'
        back_url:
          type: string
        cross_selling:
          type: array
          items:
            $ref: '#/components/schemas/CrossSelling'
          uniqueItems: true
        custom_order:
          type: boolean
        discounts:
          $ref: '#/components/schemas/Discounts'
        expense_split:
          $ref: '#/components/schemas/ExpenseSplit'
        instructions:
          $ref: '#/components/schemas/Instruction'
        mpuntos:
          $ref: '#/components/schemas/Points'
        operation_info:
          $ref: '#/components/schemas/OperationInfo'
        payment_methods_images:
          type: object
          additionalProperties:
            type: string
        primary_button:
          $ref: '#/components/schemas/Button'
        redirect_url:
          type: string
        secondary_button:
          $ref: '#/components/schemas/Button'
        top_text_box:
          $ref: '#/components/schemas/Text'
        view_receipt:
          $ref: '#/components/schemas/Action'
    CrossSelling:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/Action'
        content_id:
          type: string
        icon:
          type: string
        label:
          type: string
        target:
          type: string
        title:
          type: string
    Currency:
      type: object
      properties:
        decimal_places:
          type: integer
          format: int32
        decimal_separator:
          type: string
        id:
          type: string
        thousands_separator:
          type: string
    CustomStringConfiguration:
      type: object
      properties:
        custom_pay_button_progress_text:
          type: string
        custom_pay_button_text:
          type: string
        total_description_text:
          type: string
    Discount:
      type: object
      properties:
        amount_off:
          type: number
        coupon_amount:
          type: number
        currency_id:
          type: string
        id:
          type: string
        name:
          type: string
        percent_off:
          type: number
    DiscountItem:
      type: object
      properties:
        campaign_id:
          type: string
        icon:
          type: string
        subtitle:
          type: string
        target:
          type: string
        title:
          type: string
    Discounts:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/Action'
        action_download:
          $ref: '#/components/schemas/ActionDownload'
        items:
          type: array
          items:
            $ref: '#/components/schemas/DiscountItem'
          uniqueItems: true
        subtitle:
          type: string
        title:
          type: string
        touchpoint:
          $ref: '#/components/schemas/TouchpointData'
    EdgeInsets:
      type: object
      properties:
        bottom:
          type: number
          format: double
        left:
          type: number
          format: double
        right:
          type: number
          format: double
        top:
          type: number
          format: double
    EphemSdk:
      type: object
      properties:
        crv:
          type: string
        kty:
          type: string
        x:
          type: string
        "y":
          type: string
    ExpenseSplit:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/Action'
        image_url:
          type: string
        title:
          $ref: '#/components/schemas/Text'
    FieldSetting:
      type: object
      properties:
        hint_message:
          type: string
        length:
          type: integer
          format: int32
        mask:
          type: string
        name:
          type: string
        title:
          type: string
        type:
          type: string
        validation_message:
          type: string
    Identification:
      type: object
      properties:
        number:
          type: string
        type:
          type: string
    Installment:
      type: object
      properties:
        installments:
          type: integer
          format: int32
        total_amount:
          type: number
    Instruction:
      type: object
      properties:
        accreditation_message:
          type: string
        actions:
          type: array
          items:
            $ref: '#/components/schemas/Instructions_Action'
        info:
          type: array
          items:
            type: string
        interactions:
          type: array
          items:
            $ref: '#/components/schemas/Interaction'
        references:
          type: array
          items:
            $ref: '#/components/schemas/Reference'
        secondary_info:
          type: array
          items:
            type: string
        subtitle:
          type: string
        tertiary_info:
          type: array
          items:
            type: string
        title:
          type: string
        type:
          type: string
    Instructions_Action:
      type: object
      properties:
        content:
          type: string
        label:
          type: string
        tag:
          type: string
          enum:
          - copy
          - link
          - print
          - expirable_button
        url:
          type: string
    Interaction:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/Instructions_Action'
        content:
          type: string
        show_multiline_content:
          type: boolean
        title:
          type: string
    Issuer:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Item:
      type: object
      properties:
        category_id:
          type: string
        description:
          type: string
        id:
          type: string
        picture_url:
          type: string
        quantity:
          type: integer
          format: int32
        title:
          type: string
        unit_price:
          type: number
    ModalAction:
      type: object
      properties:
        description:
          $ref: '#/components/schemas/Text'
        main_button:
          $ref: '#/components/schemas/Button'
        secondary_button:
          $ref: '#/components/schemas/Button'
        title:
          $ref: '#/components/schemas/Text'
    OperationInfo:
      type: object
      properties:
        body:
          type: string
        hierarchy:
          type: string
        type:
          type: string
    Payer:
      type: object
      properties:
        access_token:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        email:
          type: string
        first_name:
          type: string
        id:
          type: string
        identification:
          $ref: '#/components/schemas/Identification'
        last_name:
          type: string
        name:
          type: string
        phone:
          $ref: '#/components/schemas/Phone'
        surname:
          type: string
        type:
          type: string
    PayerCost:
      type: object
      properties:
        installment_amount:
          type: number
        installment_rate:
          type: number
        installments:
          type: integer
          format: int32
        labels:
          type: array
          items:
            type: string
        payment_method_option_id:
          type: string
        recommended_message:
          type: string
        total_amount:
          type: number
    PayerPaymentMethodRejected:
      type: object
      properties:
        bin:
          type: string
        custom_option_id:
          type: string
        esc:
          type: boolean
        esc_status:
          type: string
        installments:
          type: integer
          format: int32
        issuer_name:
          type: string
        last_four_digit:
          type: string
        payment_method_id:
          type: string
        payment_type_id:
          type: string
        security_code_length:
          type: integer
          format: int32
        security_code_location:
          type: string
    Payment:
      type: object
      properties:
        additional_info:
          $ref: '#/components/schemas/AdditionalInfo'
        api_version:
          type: string
        barcode:
          $ref: '#/components/schemas/Barcode'
        capture:
          type: boolean
        card:
          $ref: '#/components/schemas/V4_Card'
        client_id:
          type: string
        collector:
          $ref: '#/components/schemas/Collector'
        concept_amount:
          type: number
        concept_id:
          type: string
        coupon_amount:
          type: number
        coupon_id:
          type: integer
          format: int64
        currency_id:
          type: string
        date_approved:
          type: string
          format: date-time
        date_created:
          type: string
          format: date-time
        differential_pricing_id:
          type: integer
          format: int64
        external_reference:
          type: string
        id:
          type: integer
          format: int64
        installment_amount:
          type: number
        last_modified:
          type: string
          format: date-time
        marketplace:
          type: string
        marketplace_fee:
          type: number
        merchant_order_id:
          type: integer
          format: int64
        operation_type:
          type: string
        order_id:
          type: integer
          format: int64
        payer:
          $ref: '#/components/schemas/Payer'
        payer_id:
          type: integer
          format: int64
        payment_method_id:
          type: string
        payment_method_reference_id:
          type: string
        payment_type_id:
          type: string
        point_of_interaction:
          $ref: '#/components/schemas/PointOfInteraction'
        processing_mode:
          type: string
        product_id:
          type: string
        reason:
          type: string
        risk_execution_id:
          type: integer
          format: int64
        site_id:
          type: string
        status:
          type: string
        status_detail:
          type: string
        total_paid_amount:
          type: number
        transaction_amount:
          type: number
        transaction_amount_refunded:
          type: number
        transaction_details:
          $ref: '#/components/schemas/TransactionDetails'
    PaymentData:
      type: object
      properties:
        campaign:
          $ref: '#/components/schemas/Campaign'
        discount:
          $ref: '#/components/schemas/Discount'
        issuer:
          $ref: '#/components/schemas/Issuer'
        payer:
          $ref: '#/components/schemas/Payer'
        payer_cost:
          $ref: '#/components/schemas/PayerCost'
        payment_method:
          $ref: '#/components/schemas/PaymentMethod'
        raw_amount:
          type: number
        token:
          $ref: '#/components/schemas/Token'
        transaction_amount:
          type: number
    PaymentDataBody:
      type: object
      properties:
        merchant_order_id:
          type: integer
          format: int64
        payment_data:
          type: array
          items:
            $ref: '#/components/schemas/PaymentData'
        pref_id:
          type: string
        validation_program_id:
          type: string
    PaymentMethod:
      type: object
      properties:
        accreditation_time:
          type: integer
          format: int32
        additional_info_needed:
          type: array
          items:
            type: string
        deferred_capture:
          type: string
        id:
          type: string
        merchant_account_id:
          type: string
        name:
          type: string
        payment_type_id:
          type: string
        secure_thumbnail:
          type: string
        status:
          type: string
    PaymentRequestBody:
      type: object
      properties:
        binary_mode:
          type: boolean
        campaign_id:
          type: integer
          format: int64
        collector_id:
          type: integer
          format: int64
        coupon_amount:
          type: number
        coupon_code:
          type: string
        email:
          type: string
        installments:
          type: integer
          format: int32
        issuer_id:
          type: string
        payer:
          $ref: '#/components/schemas/Payer'
        payment_method_id:
          type: string
        pref_id:
          type: string
        public_key:
          type: string
        token:
          type: string
    Phone:
      type: object
      properties:
        area_code:
          type: string
        extension:
          type: string
        number:
          type: string
    Platform:
      type: string
      enum:
      - MP
      - ML
    PointOfInteraction:
      type: object
      properties:
        application_data:
          $ref: '#/components/schemas/ApplicationData'
        sub_type:
          type: string
        transaction_data:
          $ref: '#/components/schemas/TransactionData'
        type:
          type: string
    Points:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/Action'
        progress:
          $ref: '#/components/schemas/PointsProgress'
        title:
          type: string
    PointsProgress:
      type: object
      properties:
        level_color:
          type: string
        level_number:
          type: integer
          format: int32
        percentage:
          type: number
    PreferenceResponse:
      type: object
      properties:
        esc_enabled:
          type: boolean
        flow_id:
          type: string
        onetap_enabled:
          type: boolean
        pref_id:
          type: string
        product_id:
          type: string
        public_key:
          type: string
    Reference:
      type: object
      properties:
        comment:
          type: string
        field_value:
          type: array
          items:
            type: string
        label:
          type: string
        separator:
          type: string
    RemediesRequest:
      type: object
      properties:
        alternative_payer_payment_methods:
          type: array
          items:
            $ref: '#/components/schemas/AlternativePayerPaymentMethod'
        custom_string_configuration:
          $ref: '#/components/schemas/CustomStringConfiguration'
        payer_payment_method_rejected:
          $ref: '#/components/schemas/PayerPaymentMethodRejected'
    RemediesResponse:
      type: object
      properties:
        bad_filled_date:
          $ref: '#/components/schemas/ResponseBadFilledDate'
        call_for_auth:
          $ref: '#/components/schemas/ResponseCallForAuth'
        cvv:
          $ref: '#/components/schemas/ResponseCvv'
        high_risk:
          $ref: '#/components/schemas/ResponseHighRisk'
        suggested_payment_method:
          $ref: '#/components/schemas/SuggestionPaymentMethodResponse'
        tracking_data:
          $ref: '#/components/schemas/TrackingData'
        with_out_remedy:
          $ref: '#/components/schemas/ResponseRemedyDefault'
    ResetStatus:
      type: object
      properties:
        status:
          type: string
    ResponseBadFilledDate:
      type: object
      properties:
        field_setting:
          $ref: '#/components/schemas/FieldSetting'
        message:
          type: string
        title:
          type: string
    ResponseCallForAuth:
      type: object
      properties:
        action_loud:
          $ref: '#/components/schemas/Action'
        message:
          type: string
        title:
          type: string
    ResponseCvv:
      type: object
      properties:
        field_setting:
          $ref: '#/components/schemas/FieldSetting'
        message:
          type: string
        title:
          type: string
    ResponseHighRisk:
      type: object
      properties:
        action_loud:
          $ref: '#/components/schemas/Action'
        deep_link:
          type: string
        message:
          type: string
        title:
          type: string
    ResponseRemedyDefault:
      type: object
      properties:
        message:
          type: string
        title:
          type: string
    SecurityCode:
      type: object
      properties:
        card_location:
          type: string
        length:
          type: integer
          format: int32
        mode:
          type: string
    StatusType:
      type: object
      properties:
        enabled:
          type: boolean
        reason:
          type: string
    SuggestionPaymentMethodResponse:
      type: object
      properties:
        alternative_payment_method:
          $ref: '#/components/schemas/AlternativePayerPaymentMethod'
        bottom_message:
          $ref: '#/components/schemas/Text'
        message:
          type: string
        modal:
          $ref: '#/components/schemas/ModalAction'
        title:
          type: string
    Text:
      type: object
      properties:
        background_color:
          type: string
        message:
          type: string
        text_color:
          type: string
        weight:
          type: string
    Token:
      type: object
      properties:
        card_id:
          type: string
        card_number_length:
          type: integer
          format: int32
        creation_date:
          type: string
          format: date-time
        due_date:
          type: string
          format: date-time
        esc:
          type: string
        expiration_month:
          type: integer
          format: int32
        expiration_year:
          type: integer
          format: int32
        first_six_digits:
          type: string
        id:
          type: string
        last_four_digits:
          type: string
        last_modified_date:
          type: string
          format: date-time
        luhn_validation:
          type: string
        public_key:
          type: string
        security_code_length:
          type: integer
          format: int32
        status:
          type: string
        trunc_card_number:
          type: string
        used_date:
          type: string
    Tokenization:
      type: object
      properties:
        last_modified_date:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - enabled
          - unknown
          - disabled
          - pending
        tokenization_id:
          type: string
    TouchpointData:
      type: object
      properties:
        additional_edge_insets:
          $ref: '#/components/schemas/EdgeInsets'
        content:
          type: object
        id:
          type: string
        type:
          type: string
    TrackingData:
      type: object
      properties:
        amount:
          type: string
        card_size:
          type: string
        frictionless:
          type: string
        installments:
          type: string
        payment_method_id:
          type: string
        payment_type_id:
          type: string
    TransactionData:
      type: object
      properties:
        qr_code:
          type: string
    TransactionDetails:
      type: object
      properties:
        external_resource_url:
          type: string
        financial_institution:
          type: string
        payment_method_reference_id:
          type: string
        total_paid_amount:
          type: number
        verification_code:
          type: string
    V4_Card:
      type: object
      properties:
        applications:
          type: array
          items:
            $ref: '#/components/schemas/Application'
        card_number:
          $ref: '#/components/schemas/CardNumber'
        cardholder:
          $ref: '#/components/schemas/Cardholder'
        date_last_updated:
          type: string
          format: date-time
        expiration_month:
          type: integer
          format: int32
        expiration_year:
          type: integer
          format: int32
        id:
          type: string
        issuer:
          $ref: '#/components/schemas/Issuer'
        security_code:
          $ref: '#/components/schemas/SecurityCode'
        tokenization:
          $ref: '#/components/schemas/Tokenization'
        type:
          type: string
    ValidationProgram:
      type: object
      properties:
        id:
          type: string
        mandatory:
          type: boolean
        requirements:
          type: object
          additionalProperties:
            type: object
        status:
          $ref: '#/components/schemas/StatusType'
